.modal-70w{
    width:70%;
    max-width: none! important; 
}

.modal-80{
    width:80%;
    max-width: none! important; 
}

.modal-85w{
    width:85%;
    max-width: none! important; 
}

.modal-90w{
    width:90%;
    max-width: none! important; 
}

.modal-95w{
    width:95%;
    max-width: none! important; 
}

.modal-100w{
    width:100%;
    max-width: none! important; 
}